Source: plum
Maintainer: Maxime Hadjinlian <maxime.hadjinlian@gmail.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7.4.3)
XB-Python-Version: ${python:Versions}
Standards-Version: 3.9.3

Package: python-plum
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Architecture: any
Description: Python LaCie das U-Boot Milchkuh
 plum let you connect to the U-Boot netconsole of any
 newgen LaCie product. It include a mini UDP server.
 It is written in Python and designed to be easy to use.
