Source: lacie-uboot
Maintainer: Maxime Hadjinlian <maxime.hadjinlian@gmail.com>
Section: utils
Priority: extra
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 9), python (>= 2.6)
XB-Python-Version: ${python:Versions}
Standards-Version: 3.9.3
Homepage: https://github.com/maximeh/lacie-uboot
Vcs-Git: git://github.com/maximeh/lacie-uboot.git

Package: lacie-uboot
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Architecture: all
Description: LaCie U-Boot netconsole shell
 LaCie Network-Attached Storage products offer a U-Boot netconsole,
 which can be accessed using the tools provided in this package:
  * lacie-uboot-shell - a simple interactive client which can connect
    to the U-Boot netconsole using only a network cable;
  * lacie-nas-updater - a script to update the device's bootloader or
    firmware using lacie-uboot-shell (requires a TFTP server).
